.mainDiv{
display: flex;
justify-content: center;
align-items: center;
}
.first_Div{
  font-family: 'Space Grotesk', sans-serif;
  /* letter-spacing: 1px; */
  font-size: 4rem;
  color: #526842;
  margin-top: 100px;

}
span{
  margin-left: 100px;
}